.product{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 1.0);
    margin: 20px;
    width: 200px;
}

.select{
    width: 100px;
}

h3{
    margin-top: 0px;
}
button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 25px;
    width: 150px;
    cursor: pointer;

    &:hover{
        background-color: gray;
    }

}